.shop-container {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}

.category {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: flex-start;
}

.product {
  margin: 10px;
}